body{
    background-color:hsl(0, 0%, 8%);
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    font-size:18px;
    margin:0;
    padding:0;
    padding-top:40px;
    padding-bottom:40px;
    font-weight:800;
}

.profile-bg{
    background-color: hsl(0, 0%, 12%);
    /* border:5px solid red; */
    border-radius: 10px;
    padding:40px 20px 10px 20px;
}

.personal{
    text-align:center;
    padding:20px;
    
}


.img{
    display: flex;
    justify-content: center;
    height:150px;
    
}
img{
    border-radius: 50%;
}

.name{
    font-size:30px;
}

.address{
    font-size:15px;
    color:hsl(75, 94%, 57%);
    font-weight: 400;
}

.about{
    margin-top:30px;
    font-weight: 600;
}

ul{
    padding:0;
}

li{
    background-color: hsl(0, 0%, 20%);
    margin:15px;
    padding:10px;
    /* border:3px solid white; */
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    cursor :pointer;
}

li:hover{
    background-color: hsl(75, 94%, 57%);
    color:black;
}



/* mobile version */
@media (max-width:375px) {
    body {
            height:100vh;
            font-size: 10px;
            margin: 0;
            padding: 0;
            font-weight: 800;
            padding:40px 15px;
        }
    
        .profile-bg {
            padding: 20px 10px 10px 10px;
            
        }
    
        .personal {
            padding: 10px;
    
        }
    
    
        .img {
            height: 80px;
    
        }
    
        .name {
            font-size: 25px;
        }
    
        .address {
            font-size: 15px;
        }
    
        .about {
            margin-top: 20px;
            font-size:15px;
            font-weight:500;
        }
    
        li {
            border-radius: 10px;
            padding-left: 60px;
            padding-right: 60px;
            font-size:15px;
        }

}


